.employe-table {
  margin: 30px 20px 30px 20px;
}
thead,
tbody {
  text-align: center;
}
.table-name {
  background: whitesmoke;
}
.table-icon {
  width: 25px;
  height: 25px;
}
.edit-icon {
  white-space: 20px;
}
img {
  display: inline-block;
  margin-right: 1em;
}
.negative-mess {
  margin-left: 20px !important;
  margin-right: 120px !important;
}
.icon-input {
  margin-left: 80px;
}
.icon-input-time {
  margin-left: 130px;
}
.edit-mode {
  background-color: rgba(63, 191, 191, 0.2);
}
.edit-focus:focus {
  color: red !important;
  border: 0px !important;
}
.edit-focus {
  background-color: rgba(63, 191, 191, 0) !important;
  border: 0px !important;
  text-decoration: underline;
  text-decoration-color: red;
}
.employee-list {
  overflow-y: scroll;
  height: 200px;
}
.first-column {
  width: 200px;
}
.table-height {
  height: 55.56px;
}
.time-picker {
  width: 150px;
  margin-right: 20px;
}
.time-label {
  margin-top: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 800px),
  (min-device-width: 799px) and (max-device-width: 1024px) {
  tbody {
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .time {
    margin-bottom: 10px;
  }
  .add {
    margin: auto;
    width: 50%;
  }
}
